{% extends "base.html" %}

{% block content %}
<h4>Works log</h4>
{% if current_user.is_authenticated %}
    <a href="/add_jobs" class="btn btn-secondary">Add job</a>
{% endif %}

{% for item in jobs %}
    <h5>Action #{{ item.id }}</h5>
    <table>
        <thead>
            <tr bgcolor="lightgrey">
                <th style="width: 40%;">Title of activity</th>
                <th style="width: 15%;">Team leader</th>
                <th style="width: 15%;">Duration</th>
                <th style="width: 15%;">List of collaborators</th>
                <th style="width: 35%;">is finished</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td bgcolor="#EDE3FF">{{ item.job }}</td>
                <td bgcolor="#EDE3FF">{{ item.team_leader }}</td>
                <td bgcolor="#EDE3FF">{{ item.work_size }}</td>
                <td bgcolor="#EDE3FF">{{ item.collaborators }}</td>
                {% if item.is_finished %}
                    <td bgcolor="#90EE90">is finished</td>
                {% else %}
                    <td bgcolor="#FFD6E8">is not finished</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/edit_jobs/{{ item.id }}" class="btn btn-warning">
                Edit
            </a>
            <a href="/jobs_delete/{{ item.id }}" class="btn btn-danger">
                Delete
            </a>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}
