{% extends "base.html" %}


{% block content %}
<head>
    <meta charset="UTF-8">
</head>
<body>
{% if "инженер" in prof or "строитель" in prof %}
    <h3>Инженерные тренажеры</h3>
    <img src="{{ url_for('static', filename='img/it.jpeg') }}"
         alt="здесь должна была быть картинка, но не нашлась"
         width="450"
         height="300">
{% else %}
    <h3>Научиные симуляторы</h3>
    <img src="{{ url_for('static', filename='img/ns.jpeg') }}"
         alt="здесь должна была быть картинка, но не нашлась"
         width="450"
         height="300">
</body>
{% endif %}
{% endblock %}

